################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tft-trait-tracker/.vs/tft-trait-tracker
/tft-trait-tracker/bin/Debug/net8.0
/tft-trait-tracker/obj
/tft-trait-tracker/.vs/ProjectEvaluation
